{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!--social media icons-->
    <link rel="stylesheet" type="text/css" href={% static 'landingPage.css'%}>
    <link rel="stylesheet" type="text/css" href={% static 'takeawayWebshop.css'%}>
    <title>{{title}}</title>

    <!--SEO-->
    <meta name="description" content="Hidden Dimsum 2900, Strandvejen 163, Hellerup online dimsum takeaway and local delivery webshop">
    <meta name="keywords" content="Hidden Dimsum 2900, dimsum takeaway webshop, dimsum local delivery, dumplings takeaway, online ordering">
    <meta name="author" content="Hidden Dimsum 2900"> 
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon_hd32x32.png' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>