{% extends 'takeawayWebshop/baseTemplate.html' %}
{% load static %}
{% block content %}
{% include 'takeawayWebshop/header.html' %} 
<div class="headerTitle">
    <h1>PRODUCTS FOR DELIVERY</h1>
    <hr class = "cardDeckHorisontalLine">
    <br>
</div>

<table>
    <tr>
        <th>Item</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>

    {% for item in orderProducts %}
    <tr>
        <td>{{item.product}}</td>
        <td>{{item.product.price}} kr</td>
        <td>{{item.quantity}}</td>
        <td>{{item.total}} kr</td>
    </tr>
    {% endfor %}
    
    <tr>
        <td>Bag fee</td>
        <td>{{bagFee}} kr</td>
        <td>1</td>
        <td>{{bagFee}} kr</td>
    </tr>

    <tr>
        <td>Local delivery cost</td>
        <td>{{deliveryCost}} kr</td>
        <td>1</td>
        <td>{{deliveryCost}} kr</td>
    </tr>
    
    <tr>
        <td class="totalCost">Total</td>
        <td></td>
        <td></td>
        <td class="totalCost">{{grandTotal}} kr</td>
    </tr>
</table>

<br>

<div class="headerTitle">
    <h1>TAKEAWAY DELIVERY INFORMATION</h1>
    <hr class = "cardDeckHorisontalLine">
</div>

<div class="container">
        <form action="/localDeliveryPayment" method="POST" id="localDeliveryCheckoutForm">
            {% csrf_token %}
            {% include 'takeawayWebshop/webshopAddressVerification.html' %}
            <button type="button" class="btn btn-success" id ="takeawayPickUp">Takeaway pickup</button>
            <div id="localDeliveryForm">
                {% for field in customerDeliveryForm %}
                    {{field.label}}
                    <p>
                    {{field}}
                    </p>
                {% endfor %}

            <button type="submit" class="btn btn-success" id="toPaymentButton">NEXT</button>
        </form>        
    </div>
</div>

{% include 'takeawayWebshop/standardScripts.html' %}
<script src="{% static 'scripts/checkoutLocalDeliveryFormHandler.js' %}"></script>
{% endblock %}