{% extends 'takeawayWebshop/baseTemplate.html' %}
{% load static %}
{% block content %}
{% include 'takeawayWebshop/header.html' %} 
<h1>Local Delivery</h1>
<table>
    <tr>
        <th>Item</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>

    {% for item in orderProducts %}
    <tr>
        <td>{{item.product}}</td>
        <td>{{item.product.price}} kr</td>
        <td>{{item.quantity}}</td>
        <td>{{item.total}} kr</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Bag fee</td>
        <td>{{bagFee}} kr</td>
        <td>1</td>
        <td>{{bagFee}} kr</td>
    </tr>

    <tr>
        <td>Local delivery cost</td>
        <td>{{deliveryCost}} kr</td>
        <td>1</td>
        <td>{{deliveryCost}}</td>
    </tr>
    
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td>{{grandTotal}}</td>
    </tr>
</table>

{% include 'takeawayWebshop/webshopAddressVerification.html' %}
<button type="button" class="btn btn-success" id ="takeawayPickUp">Takeaway pickup</button>
<div id="localDeliveryForm">
    <form action="/localDeliveryPayment" method="get">
        {{ customerDeliveryForm.as_p }}
        <button type="submit" class="btn btn-success" id="payment">Pay</button>
    </form>
</div>
{% include 'takeawayWebshop/standardScripts.html' %}
<script src="{% static 'scripts/checkoutLocalDeliveryFormHandler.js' %}"></script>
{% endblock %}