{% load static %}

{% for item in products %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <!--Title -->
    <h5 class="card-title">{{ item.name }}</h5>

    <!--Product image with link -->
    <a href="#">
      <img class="card-img" src="{% get_media_prefix %}{{ item.image_path }}" alt="{{item.meta_description}}">
    </a>
    
    <!--Product description-->
    <p class="card-text">{{item.description}}</p>
    
    <!--Allergic note -->
    {% if item.allergic_note %}
      <p class="card-text">{{ item.allergic_note }}</p>
    {% endif %}

    <!--Price-->
    <h5 class="mt-4">{{item.price}},- </h5>

    <!--Add to cart button -->
    <a href="#" class="btn btn-danger mt-3">Add to Cart</a>

  </div>
</div>
{% endfor %}