{% extends 'takeawayWebshop/baseTemplate.html' %}
{% load static %}
{% block content %}
{% include 'takeawayWebshop/header.html' %} 
<div class="headerTitle">
    <h1>PAYMENT SUCCESSFUL</h1>
    <hr class = "cardDeckHorisontalLine">
    <br>
</div> 
<div class="container bodyText" id="paymentConfirmationMessage">
    Dear {{order.fullName}},
    <br>
    <br>
    Thank you for placing the order. The below order has been received for {% if order.delivery %}takeaway delivery to 
    <br> 
    <br>
    {{order.deliveryAddress}} 
    <br>
    delivery time : {{order.deliveryTime}}.
    <br>
    <br>
    A receipt has been sent to {{order.email}}. Should we against expectation be significantly delayed, we will notify you via 
    {{order.mobile}}. 

    {% else %} pickup at Hidden Dimsum 2900, Strandvejen 163, 2900 Hellerup
    <br>
    pickup time : {{order.deliveryTime}} 
    <br>
    pickup location : {{restaurantObject.address}}
    {% endif %}  

    <br>
    <br>
    Thanks!
    <br>
    <br>
    Best regards,
    <br>
    {{restaurantObject.name}}
    <br>
    CVR : {{restaurantObject.cvr}}
    <br>

</div>

<div class="headerTitle">
    <h1>ORDER DETAILS</h1>
    <hr class = "cardDeckHorisontalLine">
    <br>
</div> 

<div class="container" id="orderDetailsContainer">
    <div class="container bodyText">
        {{orderCreationTime}}
        <br>
        Order id : {{order.id}}
        <br>
    </div>
    <table>
        <tr>
            <th>Product</th>
            <th>Unit Price kr</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>

        {% for item in orderedProducts %}
        <tr>
            <td>{{item.product}}</td>
            <td>{{item.product.price}} kr</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total}} kr</td>
        </tr>
        {% endfor %}
        <tr>
            <td><br></td>
            <td><br></td>
            <td><br></td>
            <td><br></td>
        </tr>

        <tr>
            <td>Bag Fee</td>
            <td>{{restaurantObject.bagFee}} kr</td>
            <td></td>
            <td>{{restaurantObject.bagFee}} kr</td>
        </tr>
        
        {% if order.delivery %}
            <tr>
                <td>Delivery</td>
                <td>{{restaurantObject.bagFee}} kr</td>
                <td></td>
                <td>{{restaurantObject.delivery_fee}} kr</td>
            </tr>
        {% endif %}
        <tr>
            <td class="totalCost">Total</td>
            <td></td>
            <td></td>
            <td class="totalCost">{{grandTotal}} kr</td>
        </tr>
    </table>
    <br>
</div>
{% include 'mainFooter.html' %}
{% include 'takeawayWebshop/standardScripts.html' %}
{% endblock %}

