{% load static %}
<div class="container-fluid" id="takeawayStatusInfoBox">
    {{takeawayStatusToday}}
</div>
<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="hd2900">
            <img src="{% static 'media/hd2900coverLogo.png' %}" width="20%" height=auto alt="">
        </a>

        <a href="/takeawayCheckout">
            <i class="fa" style="font-size:24px">&#xf07a;</i>
            <span class='badge badge-warning' id='lblCartCount'> {{totalItemsInBasket}} </span>
        </a>
</nav>
