{% extends 'takeawayWebshop/baseTemplate.html' %}
{% load static %}
{% block content %}

{% include 'takeawayWebshop/header.html' %}

<div class="headerTitle">
    <h1>ITEMS IN BASKET</h1>
    <hr class = "cardDeckHorisontalLine">
    <br>
</div> 

<div class="container" id="displayOrderedProducts">
    <table id="delivery_pickup_productTable">
        <th>Item</th>
        <th>Unit Price dk</th>
        <th>Quantity</th>
        <th>Total Price</th>
    
        {% for item in checkoutProducts %}
        <tr>
            <td>
                <div class="delivery_pickup_productName" id="productname_{{ item.product.slug }}">{{ item.product }}</div>
            </td>

            <td>
            {{item.product.price}} kr
            </td>

            <td>
                <div class="input-group  input-group-lg flex-nowrap">

                        <button class="btn btn-outline-secondary subtractItem" type="button" id="btn_subtract_{{item.product.slug}}" onclick="checkoutPlusMinusPressed(this)">
                            -
                        </button>

                        <input type="text" class="form-control delivery-pickup-formcontrol" id="text_{{ item.product.slug }}" placeholder="{{item.quantity}}" aria-label="ordered amount" aria-describedby="basic-addon1" readonly>

                        <button class="btn btn-outline-secondary addOneItem" type="button" id="btn_add_{{item.product.slug}}" onclick="checkoutPlusMinusPressed(this)">
                            +
                        </button>

                </div>
            </td>

            <td id="totalPrice_{{ item.product.slug }}">
                {% widthratio item.product.price 1 item.quantity %} kr 
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
            <td><br></td>
            <td><br></td>
        </tr>
        {% endfor %}
        <td>
            <div class="totalCost">Total</div>
        </td>
        <td></td>
        <td></td>
        <td><div class="totalCost" id="totalPrice">{{totalPrice}} kr</div></td>
    </table>
</div>

<br>

<div class="container" id="deliveryPossible_message_container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12 bodyText" id="deliveryPossibleMessage">
                {% if deliveryPossible is True %}
                    {{totalPriceDeliveryMessage}}
                {% endif %}
            </div>
        </div>
    </div>
</div>
            
        
    
<div class="container" id="delivery_pickup_navigationButtonContainer"> 

        <div class="mr-auto p-2">
            <a href="/hd2900_takeaway_webshop" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Shop More</a>
        </div>

        <div class="p-2">
            <button type="button" class="btn btn-primary btn-lg">Pick Up in Hidden Dimsum 2900</button>
        </div>

        {% if deliveryPossible is True and deliveryButtonActive is True %}
        <div class="p-2"> 
            <button onclick="location.href='/deliveryFormCheckout'" type="button" class="btn btn-primary btn-lg" id="localDeliveryButton">Takeaway Delivery</button>
        </div>
        {% endif %}
        
        {% if deliveryPossible is True and deliveryButtonActive is False %}
        <div class="p-2">
            <button onclick="location.href='/deliveryFormCheckout'" type="button" class="btn btn-primary btn-lg" id="localDeliveryButton" disabled>Takeaway Delivery</button>
        </div>
        {% endif %}

</div>

    <script href="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/product_add_subtract_btn_clicked.js' %}">window.CSRF_TOKEN={{ csrf_token }}</script>
{% endblock %}