{% load static %}
<div class="container-fluid" id = "contactContainer">
    <h1 id = "menuHeader">CONTACT</h1>
    <hr class = "cardDeckHorisontalLine">

    <form action="/hd2900" method="post">
        {% csrf_token %}
        <ul id ="contactField">
            
        {{ form.senderName.label }} 
        {{ form.senderName|linebreaks }}

        {{ form.senderEmail.label }} 
        {{ form.senderEmail|linebreaks }}

        {{ form.senderPhone.label }}
        {{ form.senderPhone|linebreaks}}

        {{ form.senderMessage.label|linebreaks }}
        {{ form.senderMessage }}
        <br>
        
        {{ form.ccSender }}
        {{ form.ccSender.label }}

        </ul>
        <button type="submit" class="btn btn-success" value ="Submit" id="contactSubmitButton">Submit</button>
        <h2 id="emailStatusMsg">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </h2>

    </form>
</div>