{% load static %}
<section>
        <nav class="navbar navbar-expand-md">
            <img src={% static 'media/hd2900coverLogo.png' %} width="30%" height=auto alt="" id ="hd2900coverLogo"> 

            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link px-5" href="#anchor_locations" id ="hd2900Navlink">Locations<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link px-5" href="#anchor-aboutUs" id ="hd2900Navlink">About Us<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link px-5" href="#anchor-mainContact" id ="hd2900Navlink">Contact<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
        </nav>
</section>

