{% load static %}
<section id = "anchor-mainContact">
  <footer class="bg-light text-center text-white">
    <div class="container p-4">
      <!--Social media icons-->
      <section class="mb-4">
        <a href="{{ facebookLink }}" target="_blank" class="fa fa-facebook"></a>
        <a href="{{ instagramLink }}" target="_blank" class="fa fa-instagram"></a>
        <a href="{{ youtubeLink }}" class="fa fa-youtube"></a>
      </section>

      <!--News letter subscription form-->
      <section class="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column email newsletter subscription-->
            <div class="col-auto">
              <p class="pt-2">
                <form action="/hd2900" method="post" id="newsletterForm">
                  {% csrf_token %}
                  <strong id="signUpEmailTitle">
                    {{ emailSignUpForm.signUpEmail.label }}
                    {{ emailSignUpForm.signUpEmail }}
                  </strong>

                  <!--Button -->
                  <button type="submit" class="btn btn-success" value ="Submit" id="newsLetterSubmitButton">Submit</button>
                  <h2 id="emailStatusMsg">
                    {% if messages %}
                        {% for message in messages %}
                          {% if 'emailSubscription' in message.tags %}
                            {{ message }}
                          {% endif %}
                        {% endfor %}
                    {% endif %}
                </h2>
                </form>
              </p>
            </div>
            
          </div>
        
      </section>

    </div>
  </footer>

</section>