{% load static %}
<section id = "anchor_locations"> 
    <div class="container-fluid" id = "mainContainer">
        <div class ="container-fluid" id = "cardDecksHeading">
            <h1>LOCATIONS AND DIMSUM BOX</h1>
            <hr class="cardDeckHorisontalLine">
            <br>
            <br>
        </div>

        <div class="card-deck" id ="card-deck">

            <div class="card">
                <a href="{% url 'hdnytorv' %}">
                    <img class="card-img-top" src={% static 'media/card_hiddendimsumNytorv.jpg' %} alt="Hidden Dimsum Nytorv image">
                </a>

                <div class="card-body">
                    <a href="{% url 'hdnytorv' %}">
                        <h5 class="card-title">HIDDEN DIMSUM NYTORV </h5>
                        <h5 class="card-title">RESTAURANT</h5>
                    </a>
                    <p class="card-text">Main dimsum house at the heart of Copenhagen</p>
                </div>
            </div>
            

            <div class="card">
                <a href="{% url 'hdbynight' %}">
                    <img class="card-img-top" src={% static 'media/card_bynight.jpg' %} alt="Hidden Dimsum By Night">
                </a>
                <div class="card-body">
                    <a href= "{% url 'hdbynight' %}">
                        <h5 class="card-title">HIDDEN DIMSUM BY NIGHT</h5>
                        <h5 class="card-title">ASIAN BAR</h5>
                    </a>
                    <p class="card-text">Late night dimsum and Hongkong street food with Asian beers.</p>
                    </div>
            </div>
           
            <div class="card">
                <a href="{% url 'hd2900' %}">
                    <img class="card-img-top" src={% static 'media/card_hiddendimsum2900.jpg' %} alt="Hidden Dimsum Strandvejen 163, 2900 Hellerup">
                </a>
                <div class="card-body">
                    <a href="{% url 'hd2900' %}">
                        <h5 class="card-title">HIDDEN DIMSUM 2900</h5>
                        <h5 class="card-title">TAKEAWAY</h5>
                    </a>
                    <p class="card-text">Dimsum takeaway. Order your dimsum dinner and pick it up at Hidden Dimsum 2900, Strandvejen 163, 2900 Hellerup.</p>
                </div>
            </div>

            <div class="card">
                <a href="http://www.dimsumbox.dk">
                    <img class="card-img-top" src={% static 'media/card_dimsumbox.jpg' %} alt="Dimsum Box">
                </a>
                <div class="card-body">
                    <a href="http://www.dimsumbox.dk}">
                        <h5 class="card-title">DIMSUM BOX</h5>
                    </a>
                    <p class="card-text">Dimsum mealbox delivery</p>
                    
                </div>
            </div>

        </div>        
    </div>
</section>
    