{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-secondary" id ="navbar">
    <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand navbar-left" href="/" id="navbarLogoLink">
        <img src="{{ navbarLogoPath }}" alt="{{ navbarLogoAlt }}" id="navbarLogo">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for link in links %}
                {% if link.0 == 'BOOK TABLE' %}
                <li class="nav-item active" id="navbarListItem">
                    <a class="nav-link px-6" id ="mainNavlink" href="{{ link.1 }}" target="_blank"><h3 id="linkText">{{ link.0 }}</h3></a>
                </li>
                {% else %}
                    <li class="nav-item active" id="navbarListItem">
                        <a class="nav-link px-6" id ="mainNavlink" href="{{ link.1 }}"><h3 id="linkText">{{ link.0 }}</h3></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid" id ="coverNytorv" style="background-image: url({{imagePath}});" alt="{{ backgroundImageAlt }}">      
    <h1 id="coverTitle">
        {% autoescape off %}
            {{ coverTitle1 }}
        {% endautoescape %}
        <br>
        {% autoescape off %}
            {{ coverTitle2 }}
        {% endautoescape %}
        <br>
        {{ coverTitle3 }}
    </h1>
</div>
