{% extends 'indexBase.html' %}
{% load static %}

{% block coverContent %}
<div class="jumbotron jumbotron-fluid" id = "header">
    <div class="container-fluid">
      <h1 class="display-4">Hidden Dimsum</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque perferendis consequatur minima quaerat placeat, tempora rerum iusto similique quia illum necessitatibus praesentium voluptate voluptatem possimus esse iure quidem dignissimos!</p>
    </div>
</div>
{% endblock %}

{% block mainNavContent %}
<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <a href='#'>
                <img class="card-img-top" src={% static 'media/HiddenDimsumNytorvFacade.jpg' %} alt="Hidden Dimsum Nytorv image">
            </a>

                <div class="card-body">
                        <h5 class="card-title">Hidden Dimsum Nytorv </h5>
                    <p class="card-text">Our main dimsum house located at heart of Copenhagen. This is the place where
                        dimsum started.
                        <ul>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Book table</a></li>
                        </ul>
                        <a href="#" class="btn btn-primary">More Info</a>
                    </p>
                </div>
        </div>

        <div class="card">
            <a href="#">
                <img class="card-img-top" src={% static 'media/HiddenDimsumByNight.jpg' %} alt="Hidden Dimsum By Night">
            </a>
            <div class="card-body">
                <h5 class="card-title">Hidden Dimsum by Night</h5>
                <p class="card-text">Late night dimsum and Hongkong street food with Asian beers. A night has different shades!</p>
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Opening Hours</a></li>
                </ul>
                <a href = "#" class = "btn btn-primary">More Info</a>
            </div>
        </div>

        <div class="card">
            <a href="#">
                <img class="card-img-top" src={% static 'media/HiddenDimsum2900Facade.jpg' %} alt="Hidden Dimsum Strandvejen 163, 2900 Hellerup">
            </a>
            <div class="card-body">
                <h5 class="card-title">Hidden Dimsum 2900</h5>
                <p class="card-text">Dimsum takeaway. Order your dimsum dinner and pick it up at Hidden Dimsum 2900, Strandvejen 163, 2900 Hellerup.</p>
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Order takeaway online></a></li>
                    <li><a href="#">Order takeaway over phone</a></li>
                    <li><a href="#">Opening hours</a></li>
                </ul>
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>

        <div class="card">
            <a href="#">
                <img class="card-img-top" src={% static 'media/DimsumBox.jpg' %} alt="Dimsum Box">
            </a>
            <div class="card-body">
                <h5 class="card-title">Dimsum Box</h5>
                <p class="card-text">A box of dimsum delivered to your front door with instructions on how to warm up. Dimsum at your convenience!</p>
                <a href="#" class="btn btn-primary">Order</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block landingPageFooter %}
<div class="jumbotron jumbotron-fluid" id="footerJumbotron">
    <div class="container-fluid" id="footerContainer">
      <h1 class="display-4" id = "title_contact">Contact and Social Media</h1>
      <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non natus reiciendis molestias corrupti neque deleniti cupiditate illo, animi, sapiente id alias saepe voluptatum itaque velit, assumenda in ipsum minima tenetur.</p>
    </div>
</div>
{% endblock %}
