{% extends 'indexBase.html' %}
{% load static %}

{% block coverContent %}
<section>
<div class="jumbotron jumbotron-fluid" id ="header">
    <div class="container-fluid">
        
        <nav class="navbar navbar-expand-md" id ="navbar">
            <img src={% static 'media/HIDDEN DIMSUM logo final.png' %} width="100px" height=auto alt="">

            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link px-5" href="#">Link 1<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link px-5" href="#">Link 2<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link px-5" href="#">Link 3<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
        </nav>

      <h1 class="display-4" id="coverTextTitle">TITLE TEXT COMES HERE</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque perferendis consequatur minima quaerat placeat, tempora rerum iusto similique quia illum necessitatibus praesentium voluptate voluptatem possimus esse iure quidem dignissimos!</p>
    </div>
</div>
</section>

{% endblock %}

{% block cardDeck %}
<section>
<div class="container-fluid" id = "mainContainer">
    <div class ="container-fluid" id = "cardDecksHeading">
        <h1>SECTION HEADING</h1>
        <hr class="cardDeckHorisontalLine">
        <br>
        <br>
    </div>
            
    <div class="card-deck" id ="card-deck">
        <div class="card">
            <a href='#'>
                <img class="card-img-top" src={% static 'media/card_hiddendimsumNytorv.jpg' %} alt="Hidden Dimsum Nytorv image">
            </a>

                <div class="card-body">
                        <h5 class="card-title">Hidden Dimsum Nytorv </h5>
                    <p class="card-text">Our main dimsum house located at heart of Copenhagen. This is the place where
                        dimsum started.
                        <ul>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Book table</a></li>
                        </ul>
                        <a href="{% url 'hdnytorv' %}" class="btn btn-primary">More Info</a>
                    </p>
                </div>
        </div>

        <div class="card">
            <a href="#">
                <img class="card-img-top" src={% static 'media/card_bynight.jpg' %} alt="Hidden Dimsum By Night">
            </a>
            <div class="card-body">
                <h5 class="card-title">Hidden Dimsum by Night</h5>
                <p class="card-text">Late night dimsum and Hongkong street food with Asian beers. A night has different shades!</p>
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Opening Hours</a></li>
                </ul>
                <a href = "#" class = "btn btn-primary">More Info</a>
            </div>
        </div>

        <div class="card">
            <a href="#">
                <img class="card-img-top" src={% static 'media/card_hiddendimsum2900.jpg' %} alt="Hidden Dimsum Strandvejen 163, 2900 Hellerup">
            </a>
            <div class="card-body">
                <h5 class="card-title">Hidden Dimsum 2900</h5>
                <p class="card-text">Dimsum takeaway. Order your dimsum dinner and pick it up at Hidden Dimsum 2900, Strandvejen 163, 2900 Hellerup.</p>
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Order takeaway online></a></li>
                    <li><a href="#">Order takeaway over phone</a></li>
                    <li><a href="#">Opening hours</a></li>
                </ul>
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>

        <div class="card">
            <a href="#">
                <img class="card-img-top" src={% static 'media/card_dimsumbox.jpg' %} alt="Dimsum Box">
            </a>
            <div class="card-body">
                <h5 class="card-title">Dimsum Box</h5>
                <p class="card-text">A box of dimsum delivered to your front door with instructions on how to warm up. Dimsum at your convenience!</p>
                <a href="#" class="btn btn-primary">Order</a>
            </div>
        </div>
    </div>        
</div>
</section>
{% endblock %}

{% block aboutUs %}
<section>
    <div class="container-fluid" id = "aboutUsContainer">
        <div class="row" id="firstRow">
                <img src = {% static 'media/aboutus.jpg' %} class="col-md" alt = 'About us' id = "aboutUsLeftImage">

            <div class="col-md" id="right"> 
                <img src={% static 'media/HIDDEN DIMSUM logo final.png' %} alt="logo" id = "aboutUsLogo">
                    <h1 id = "aboutUsRightHeader">We are dimsum!</h1>
                    <hr class = "cardDeckHorisontalLine">
                    <h3>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe iure a quia ab, animi magni repellendus voluptatem quo magnam recusandae id sit, nam enim illum voluptatibus error possimus ratione quisquam.
                    </h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block aboutUsVideo %}
<div class="container-fluid" id ="aboutUsVideoMainContainer">
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9" id = "aboutUsVideoFlexbox">
            <video controls autoplay muted loop id ="aboutUsVideoTag">
                <source src = {% static 'media/til-mac.mp4' %} type="video/mp4">
            </video>
        </div>
    </div>
</div>
{% endblock %}

{% block landingPageFooter %}
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container" id = "footerContainer">
      <div class="row" id = "footerRow">
        
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad" id = "footerContactFlex">
            <h4 id = "footerTitle">Main Contact</h4>
            <h5 id = "footerText">
                Hidden Dimsum <br>
                Nytorv 19 <br>
                1450 København K<br>
                Phone: +45-33128828 <br>
                Email: kontakt@dimsum.dk <br>
                CVR: 38908901 <br>
            </h5>
          </div>
        </div>

          <div class="col-md-3" id = "footerSocialMediaFlex">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>				
          </div>

      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy;All rights reserved @ Hidden Dimsum 2020.</p>
          </div>
      </div>
    </div>
    </div>
  </footer>
{% endblock %}
