{% load static %}

<section id = "anchor-aboutUs">
    <div class="container-fluid" id = "aboutUsContainer">
        <div class="row" id="firstRow">
                <img src = {% static 'media/aboutUs2900.jpg' %} class="col-md" alt = 'About us' id = "aboutUsLeftImage">

            <div class="col-md" id="right"> 
                <img src={% static 'media/baoIcon.png' %} alt="logo" id = "aboutUsLogo">
                <br>
                    <h1 id = "aboutUsRightHeader">OUR STORY</h1>
                    <hr class = "cardDeckHorisontalLine">
                    <h3 id= "aboutUsContent">
                        If Copenhagen’s most famous dimsum house is a plant, then its seed was already planted in 2008 by our father that managed the dimsum house under a different name. In 2018 our father decided to travel back to his root in China for arranging his retirement that he temporarily let his two children Wang and Mai oversee the dimsum house while he was away. When he came back in 2019, he could barely recognize his own dimsum house that during the period he was away changed dramatically and become the Hidden Dimsum as you know it today! He quickly left his concerns behind after he realizes that in fact Hidden Dimsum was becoming among the most famous dimsum house in Copenhagen - a fact that is reflected in news paper reviews and on the number of guests that want to experience dimsum for themselves. 

Hidden Dimsum Nytorv is our main dimsum house. This is the dimsum house where it all started, and where Michelin chefs around Copenhagen often pass by to experience our handmade dimsum and the vibe by themselves. Table booking is often necessary as under normal circumstances this dimsum house will be running with full house every day. 

Hidden Dimsum by Night was established in 2019 and is an Asian latenight dimsum and beer bar. If you love Hongkong style dimsum street food with K-pop and a broad selection of Asian beers and cocktail this is the place for you. 

Hidden Dimsum 2900 was established in 2020 and mainly intended for dimsum takeaway. It has a different dimsum selection as compared with Hidden Dimsum Nytorv and the wall decoration reflects our history and root. 

Dimsum Box is a dinner box containing handmade frozen dimsum that you can order online and delivered right to your front door. 

Dearest guest as you probably can feel now, whenever we decide to work with dimsum, we work with a fully committed attitude according to the word dim and sum meaning touch heart in Chinese. Hence we always end our communications with,

We are dimsum!
                    </h3>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" id ="aboutUsVideoMainContainer">
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9" id = "aboutUsVideoFlexbox">
            <video controls autoplay muted loop id ="aboutUsVideoTag">
                <source src = {% static 'media/til-mac.mp4' %} type="video/mp4">
            </video>
        </div>
    </div>
</div>
