{% load static %}
<section id = "anchor-mainContact">
  <footer class="mainfooter" role="contentinfo">
      <div class="footer-middle">
      <div class="container" id = "footerContainer">
        <div class="row" id = "footerRow">
          
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad" id = "footerContactFlex">
              <h4 id = "footerTitle">Main Contact</h4>
              <h5 id = "footerText">
                  Hidden Dimsum <br>
                  Nytorv 19 <br>
                  1450 København K<br>
                  Phone: +45-33128828 <br>
                  Email: kontakt@dimsum.dk <br>
                  CVR: 38908901 <br>
              </h5>
            </div>
          </div>

            <div class="col-md-3" id = "footerSocialMediaFlex">
                <h4>Follow Us</h4>
                <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>				
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 copy">
                <p class="text-center">&copy;All rights reserved @ Hidden Dimsum 2020.</p>
            </div>
        </div>
      </div>
      </div>
  </footer>
</section>