/*font to be used*/
@font-face {
  font-family: hdFont;
  src: url("media/font/Gotham-Light.otf");
}

@font-face {
  font-family: hdFont;
  src: url("media/font/Gotham-Medium.otf");
  font-weight: bold;
}

/* cover section */
#coverNytorv {
  text-align: center; 
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  justify-content: center;
  color: white;
  height: 700px;
  display: flex;
  margin-bottom: 0px;
}

#navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-toggler {
  border-color: black;
} 

#mainNavlink {
    color: white;
    font-size: 22px;
    font-family: hdFont;
}

.nav-item {
    margin-right: 60px;
    font-weight: bold;
}

.headerTitle {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
  font-family: hdFont;
  font-weight: bold;
}

.lead {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
  font-family: hdFont;
}

#navbarLogo {
  width : 25%;
  height: auto;
}
@media (max-width:544px) {
  #navbarLogo {width: 40%; height: auto;}
}

@media (min-width:544px) {
  .headerTitle {font-size: 3rem;}
  .lead {font-size: 3rem}
}

/* Card deck section */
#mainContainer {
    background: url("media/backgroundCardDeck.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100%;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: hdFont;
}

#cardDecksHeading {
    text-align: center;
    padding-top: 30px;
}

.cardDeckHorisontalLine {
    border: 5px solid grey;
    width: 5%;
    text-align: center;
}

#card-deck {
    padding-bottom: 50px;
}

.card-title {
  font-family: hdFont;
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-family: hdFont;
  text-align: center;
}

/*About us */

.row {
    display: flex;
}

#aboutUsLeftImage {
  object-fit: cover;
  flex: 1;
  overflow: hidden;
  padding: 0px;
  border: 1px solid transparent;
}

#aboutUsLogo {
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#aboutUsRightHeader {
  text-align: center;
  font-family: hdFont;
}

#aboutUsContent {
  padding-left: 5%;
  padding-right: 2.5%;
  font-family: hdFont;
  text-align: left;
  font-size: 1rem;
}

@media (min-width:544px) {
  #aboutUsContent {font-size: 1.5rem;}
}

/* About Us Video Section */
#aboutUsVideoMainContainer {
    background: url("media/backgroundCardDeck.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100%;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutUsLogo {
  width: 10%;
  height: auto;
  padding-top: 100px;
}

#aboutUsVideoFlexbox {
  margin: 5% 10% 5% 10%; /* top right bottom left*/
}

/* Contact form */
#contactMainContainer {
  flex-wrap: wrap;
  justify-content: center;
}

#openingHourHeader {
  font-family: hdFont;
  text-align: center;
  margin-top: 5%;
}

#openingHourContent {
  font-family: hdFont;
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
}

#contactHeader {
  margin-top: 5%;
  text-align: center;
  font-family: hdFont;
}

#contactForm {
  margin-left: 5%;
  font-family: hdFont;
  font-weight: bold;
}

#contactSubmitButton {
  margin-left: 5%;
}

#emailStatusMsg {
  font-size: 18px;
  margin-left: 5%;
  font-family: hdFont;
  font-weight: bold;
}

/*Footer social media icons*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 50px;
}

/* Style all font awesome icons */

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Social media icons */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/*News letter sign up*/

#signUpEmailTitle {
  color: black;
  font-family: hdFont;
}

#emailStatusMsg {
  color: black;
  font-family: hdFont;
}

#footerAddress {
  color: black;
  font-family: hdFont;
}