/*font to be used*/
@font-face {
  font-family: hdFont;
  src: url("media/font/Gotham-Light.otf");
}

@font-face {
  font-family: hdFont;
  src: url("media/font/Gotham-Medium.otf");
  font-weight: bold;
}

/*Infor box for delivery possible today status at the header of the page*/
#takeawayStatusInfoBox {
  background-color: black;
  color: white;
  text-align: center;
  font-family: hdFont;
  font-weight: bold;
  font-size: 1.5rem;
  border: 5px solid green;
}

#takeawayStatusTodayHeader {
  font-family: hdFont;
  font-size: 1.5rem;
  color: yellow;
}

/*Header container with logo and shopping cart*/

#takeawayHeaderContainer {
  border: 3px solid red;
  display: inline;
}

#headerLogo {
  border: black 3px solid;
  width: 30vw;
}

#cartIconContent {
  border: green 3px solid;
}

#shoppingCartIcon {
  float: right;
  font-size: 2rem;
  margin-right: 5vw;
}

#lblCartCount {
    font-size: 16px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-right: -3 vw;
    float: right;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

/*delivery policy*/
#deliveryPolicyMainContainer {
  border: 1px solid red;
}
#deliveryPolicyHeader {
  text-align: center;
  font-family: hdFont;
  width: 100%;
}

/*Delivery policy*/
.deliveryInfo {
  font-family: hdFont;
  font-size: 1.5rem;
}
/* Address autocomplete */
label {
  color: black;
}

.autocomplete-container {
  /* relative position for at de absolut positionerede forslag får korrekt placering.*/
  position: relative;
  width: 100%;
  max-width: 30em; 
}

.autocomplete-container input {
  /* Både input og forslag får samme bredde som omkringliggende DIV */
  width: 100%;
  box-sizing: border-box;
} 

.dawa-autocomplete-suggestions {
  margin: 0.3em 0 0 0;
  padding: 0;
  text-align: left;
  border-radius: 0.3125em;
  background: #fcfcfc;
  box-shadow: 0 0.0625em 0.15625em rgba(0,0,0,.15);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  overflow-y: auto;
  box-sizing: border-box;
}

.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion {
  margin: 0;
  list-style: none;
  cursor: pointer;
  padding: 0.4em 0.6em;
  color: #333;
  border: 0.0625em solid #ddd;
  border-bottom-width: 0;
}

.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-width: 0.0625em;
}

.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion.dawa-selected,
.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion:hover {
  background: #f0f0f0;
}